* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: url("hot-air-balloon-2411851_1280.jpg");
  background-size: cover;
  color: aliceblue;
}
/* Navigation menu start */
header {
  width: 100%;
  top: 0px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
}

.left img {
  width: 50px;
  margin-left: 25%;
  filter: invert(100%);
  cursor: pointer;
}

.left div {
  font-family: "Shadows Into Light", "cursive";
}
nav {
  flex: 1;
  text-align: center;
}
nav ul li {
  list-style: none;
  display: inline-block; /*to make ul list items horizontal this is important */
  padding: 8px 22px;
}
nav ul li a {
  color: azure;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
}
nav li a:hover {
  color: rgb(245, 17, 131);
}
nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(245, 17, 131);
  display: block;
  margin: auto;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}

.active {
  color: rgb(245, 17, 131);
}

/* Navigation menu ends  */

.btn {
  color: rgb(255, 251, 251);
  background-color: rgba(62, 153, 141, 0.959);
  padding: 4px 15px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  margin: 0px 1px 0px 1px;
}
.btn:hover {
  margin: 0px 0px 0px 0px;
  background-color: rgba(44, 107, 99, 0.959);
  border: 1px solid rgb(255, 255, 255);
}

.form {
  /* border: 2px solid rgb(128, 37, 170); */
  margin: 90px 150px;
  padding: 50px 30px;
  width: 30%;
  display: block;
  border-radius: 5px;
}
.form h1 {
  font-size: 15px;
  text-align: center;
}
input[type="text"],
input[type="email"] {
  color: aliceblue;
  display: block;
  font-size: 14px;
  text-align: center;
  width: 80%;
  padding: 4px;
  border: 1px solid rgb(48, 171, 228);
  border-radius: 8px;
  margin: 8px auto;
  background-color: rgba(255, 222, 173, 0);
}
::placeholder {
  color: rgb(255, 255, 255);
}

input[type="text"]:hover,
input[type="email"]:hover {
  border: 1px solid rgb(172, 58, 248);
}
input[type="submit"] {
  display: block;
  font-size: 16px;
  text-align: center;
  width: 80%;
  padding: 7px;
  background-color: rgb(43, 153, 226);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  margin: 8px auto;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: rgb(31, 93, 134);
}
input[type="text"]:focus,
input[type="email"]:focus {
  color: rgb(253, 253, 253);
  outline: none;
  border: 1px solid rgb(172, 58, 248);
}
